USE [master]
GO
/****** Object:  Database [payroll_DBMS]    Script Date: 8/31/2024 11:18:14 PM ******/
CREATE DATABASE [payroll_DBMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'payroll_DBMS', FILENAME = N'D:\IT stuff\MSSQL16.SQLEXPRESS\MSSQL\DATA\payroll_DBMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'payroll_DBMS_log', FILENAME = N'D:\IT stuff\MSSQL16.SQLEXPRESS\MSSQL\DATA\payroll_DBMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [payroll_DBMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [payroll_DBMS]
GO
/****** Object:  Table [dbo].[tbladmin]    Script Date: 8/31/2024 11:18:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbladmin](
	[AdminID] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DOB] [date] NULL,
	[Phone] [varchar](50) NULL,
	[Role] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblemployees]    Script Date: 8/31/2024 11:18:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblemployees](
	[Empid] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[PANNo] [nvarchar](50) NULL,
	[Dob] [date] NULL,
	[BankDetails] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[ImageData] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblempsalary]    Script Date: 8/31/2024 11:18:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblempsalary](
	[Empid] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[Salary] [nvarchar](50) NULL,
	[Permission] [nvarchar](50) NULL,
	[Absent] [nvarchar](50) NULL,
	[Bonus] [nvarchar](50) NULL,
	[Deduction] [nvarchar](50) NULL,
	[TotalAmount] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbladmin] ([AdminID], [Username], [Password], [Email], [DOB], [Phone], [Role]) VALUES (N'X0', N'Default', N'Default1', N'Default.admin@gmail.com', CAST(N'2024-08-30' AS Date), N'0123456789', N'Super Admin')
INSERT [dbo].[tbladmin] ([AdminID], [Username], [Password], [Email], [DOB], [Phone], [Role]) VALUES (N'X1', N'Admin', N'123', N'Admin1990@gmail.com', CAST(N'1990-06-12' AS Date), N'012887733', N'Normal Admin')
GO
INSERT [dbo].[tblempsalary] ([Empid], [Name], [Position], [Salary], [Permission], [Absent], [Bonus], [Deduction], [TotalAmount]) VALUES (N'X0', N'Example', N'IT Support', N'450', N'1', N'1', N'2.50', N'', N'461.25')
INSERT [dbo].[tblempsalary] ([Empid], [Name], [Position], [Salary], [Permission], [Absent], [Bonus], [Deduction], [TotalAmount]) VALUES (N'X1', N'Example1', N'IT Support', N'450', N'1', N'3', N'', N'2', N'441')
GO
USE [master]
GO
